<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Video Streamer</title>
</head>

<body>
    <div class="container">
        <h1>Video Streamer</h1>
        <div class="options">
            <label for="colorSelect">Select Color:</label>
            <select id="colorSelect">
                <option value="color">Color</option>
                <option value="grayscale">Grayscale</option>
            </select>
            <button id="setColorBtn">Set Color</button>
        </div>
        <div class="options">
            <label for="widthInput">Width:</label>
            <input type="number" id="widthInput" value="1080">
            <label for="heightInput">Height:</label>
            <input type="number" id="heightInput" value="720">
            <button id="setSizeBtn">Set Size</button>
        </div>
        <div class="video-container" id="videoContainer">
            <img id="videoStream" src="" alt="Video Stream">
        </div>
        <div class="buttons">
            <button id="oneVideoBtn">One video stream</button>
            <button id="twoVideosBtn">Two video streams</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>